* {
  box-sizing: border-box;
  vertical-align: bottom;
}
html {
  font-size: 62.5%;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common */
.dots {
  display: flex;
  align-items: center;
}
.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #634700;
  margin-right: 6px;
}
.dot.active {
  background-color: #ffb900;
}
.line-clap {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 4);
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* word-break: break-all; */
}
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 50px;
  border-radius: 24.5px;
  background: #171100;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.btn:hover {
  background-color: #ffb900;
  transition: 0.1s;
}
/* header */
.header {
  padding-top: 26px;
  background: #fffcf4;
}
.header .body {
  display: flex;
  align-items: center;
}
.header.fixed {
  position: sticky;
  top: -26px;
  z-index: 1;
}
.navigation ul {
  display: flex;
}
.navigation {
  margin-left: auto;
  margin-right: 70px;
  padding: 10px 0;
}
.navigation li {
  position: relative;
}
.navigation a {
  position: relative;
  display: block;
  color: #5f5b53;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  padding: 10px 21px;
}

.navigation a:hover,
.navigation li.active a {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}
.navigation a:hover::after,
.navigation li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
}
/* Hero */
.hero-wrap {
  background-color: #fffcf4;
}
.hero-wrap .main-content {
  height: calc(100vh - 94px);
  display: flex;
  align-items: center;
  margin-top: auto;
}
.hero-wrap .body {
  display: flex;
  align-items: center;
}
/* media block */
.hero-wrap .media-block {
  width: 48.5%;
  position: relative;
}
.hero-wrap .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero-wrap .hero-summary {
  position: absolute;
  bottom: 48px;
  left: 300px;
  background-color: #fff;
  min-width: 270px;
  border-radius: 12px;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero-summary .info .label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem;
}
.hero-summary .info .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
}
.hero-wrap .hero-summary .item {
  display: flex;
  align-items: center;
  margin-left: 24px;
  padding: 11px 0;
}
.hero-wrap .hero-summary .item:first-child {
  padding-top: 28px;
}
.hero-wrap .hero-summary .item:last-child {
  padding-bottom: 28px;
}
.hero-wrap .hero-summary .icon {
  width: 48px;
  height: 48px;
  background-color: var(--background-color, #fff9e8);
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}
/* content-block */
.hero-wrap .content-block {
  width: 49.5%;
  margin-left: 130px;
}
.hero-wrap .content-block .heading {
  width: 470px;
  color: #171100;
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 6.8rem;
  letter-spacing: -1.16px;
  margin-bottom: 22px;
}
.hero-wrap .content-block .desc {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.hero-wrap .content-block .cta-group {
  display: flex;
  margin: 38px 0 48px 0;
}
.hero-wrap .content-block .watch-video {
  display: flex;
  align-items: center;
  margin-left: 28px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.hero-wrap .content-block .watch-video .play {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.09);
}
.hero-wrap .content-block .watch-video .play img {
  padding-left: 4px;
}
.hero-wrap .content-block .btn-cta-group {
  width: 180px;
  height: 64px;
  border-radius: 32px;
  background: #ffb900;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
}
.hero-wrap .content-block .btn-cta-group:hover {
  background-color: #171100;
  transition: 0.1s;
}
.hero-wrap .content-block .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
  margin-left: 14px;
}
.hero-wrap .content-block .stats-desc {
  display: flex;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}
.hero-wrap .content-block .stats-desc p {
  margin-right: 28px;
}
.hero-wrap .content-block .stats-desc strong {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 5.4rem;
  margin-right: 8px;
}
/* Popular */
.popular {
  padding: 100px 0;
  margin: 100px 0;
}
/* top */
.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular-top .heading {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: -0.76px;
  padding-bottom: 16px;
}
.popular-top .desc {
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}
.popular-top .controls {
  display: flex;
  gap: 18px;
}
.popular-top .control-btn {
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ffb900;
  color: #ffb900;
  cursor: pointer;
}
.popular-top .control-btn:hover {
  background-color: #ffb900;
  color: #fff;
}
/* popular-bottom */
.popular-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
  gap: 30px;
}
.popular-bottom .course-item {
  flex: 1;
  background: #fff;
  border: 1px solid #e2dfda;
  width: 370px;
  border-radius: 12px;
}
.popular-bottom .course-item .body {
  padding: 16px 22px 22px;
}
.popular-bottom .course-item .image {
  width: calc(100% + 2px);
  height: 278px;
  margin: -1px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.course-item .row {
  justify-content: space-between;
}
.course-item .rated,
.course-item .row {
  display: flex;
  align-items: center;
}
.course-item .row .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
}
.course-item .row .rated {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}
.course-item .row .rated .star {
  padding-bottom: 3px;
  padding-right: 6px;
}
.course-item .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem;
  padding-top: 6px;
}
.course-item .cta-row {
  padding-top: 12px;
}
.course-item .btn-cta {
  min-width: 118px;
  border: none;
}
.course-item .priced {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
}
.course-item:hover {
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.08);
  transition: 0.1s;
  border-color: transparent;
}

/* feedback*/
.feedback {
  background-color: #2e2100;
  padding: 96px 0;
}
.feedback-list {
  display: flex;
  overflow: hidden;
}
.feedback-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-shrink: 0;
  /* transform: translateX(-100%);
  transition: all ease 0.5s; */
}
.feedback-item .info .title {
  color: #f7f7f7;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.4rem;
  margin-top: 18px;
}
.feedback-item .info .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem;
  margin: 4px 0 28px;
}
.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .content blockquote {
  width: 740px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 4rem;
  margin-left: 30px;
}
.feedback-item .content {
  position: relative;
}
/* features */
.features {
  margin: 100px 0;
}
.features .body {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features .image {
  position: relative;
}
.features .image img {
  display: inline-block;
  width: 270px;
  height: 404px;
  object-fit: cover;
  border-radius: 16px;
}

.features .image .upper {
  position: absolute;
  top: -33px;
  left: 300px;
}

.features .content {
  width: 470px;
  margin: 24px 0 58px;
}
.features .content .title {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: -0.76px;
}
.features .content .desc {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin: 16px 0;
}
.features .content .btn-content {
  margin-top: 32px;
  padding: 11px 37px;
  background-color: #ffb900;
}
.features .content .btn-content:hover {
  background-color: #171100;
}
.features .image-body2 img {
  width: 470px;
  height: 440px;
  border-radius: 20px;
}
.features .body:last-child .content {
  width: 570px;
}
/* blog */
.blog {
  background-color: #fffcf4;
  padding: 96px 0;
}
.blog .blog-top .title {
  color: #130606;
  text-align: center;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: -0.76px;
}
.blog .blog-top .desc {
  margin: 16px auto 55px;
  text-align: center;
  color: #696262;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  width: 448px;
}
.blog .blog-list {
  display: flex;
  gap: 30px;
}
.blog .blog-item {
  /* flex: 1; */
  background-color: #fff;
  border-radius: 16px;
  width: calc(33.33% - 20px);
  flex-shrink: 0;
}
.blog .blog-item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.08);
}
.blog .blog-list .image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}
.blog .blog-item .content {
  padding: 20px 20px 28px;
}
.blog .blog-item .date {
  display: flex;
  align-items: center;
}
.blog .blog-item .datetime {
  margin-left: -2px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem;
}
.blog .blog-item .underline {
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  margin: 12px 0;
}
.blog .blog-item .heading {
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
  margin-bottom: 12px;
}
.blog .blog-item .blog-btn {
  width: 118px;
  border-radius: 25px;
}
.blog .dots {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 38px;
}
.blog .dot {
  background-color: #5f5b53;
  cursor: pointer;
}
.blog .dot.active {
  background-color: #ffb900;
  cursor: default;
}
/* footer */
.footer {
  background-color: #2e2100;
}
.footer .content {
  padding-top: 96px;
  display: flex;
  justify-content: space-between;
}
.footer .content .column:first-child {
  width: 267px;
}
.footer .content .column:last-child {
  width: 231px;
}
.footer .content .desc {
  color: #807d74;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem;
  padding: 6px 0;
}
.footer .content a:hover {
  text-decoration: underline;
}
.footer .content strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.6rem;
}
.footer .content .heading {
  position: relative;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.footer .content .image {
  margin-bottom: 12px;
}
.footer .content .underline {
  content: "";
  width: 130px;
  height: 1px;
  flex-shrink: 0;
  background-color: #59554b;
  margin: 14px 0 22px;
}

.footer .content .social-list {
  display: flex;
  width: 111px;
  margin-top: 12px;
  justify-content: space-between;
  cursor: pointer;
}
.footer .content .social-icon:hover {
  opacity: 0.8;
}
.footer .copy-underline {
  width: 1170px;
  height: 1px;
  flex-shrink: 0;
  background-color: #59554b;
  margin: 32px 0 28px;
}
.footer .copyright {
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem;
  padding-bottom: 28px;
}
